<html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
	<script src="js/http-vue.js"></script>
	<script src="js/main.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css"/>
	
	
	
</head>

<body>
	<div id="noPrintSection" class="container-fluid">
		<div id="app">
			<div id="ordersTable" class="row">
				<div class="col">
					<table class="table small table-fix-header">
						<thead class="thead-dark extra-small">
							<tr class="sticky-header">
								<th colspan="12">
									<div id="ordersFilters" class="row">
										<div class="col-4">
											<span class="label label-default">Status:</span>
											<div class="btn-group" role="group">
												<button type="button" data-value="INITIAL" v-on:click="listFiltering('status', $event)" v-bind:class="'btn btn-filter ' + (listFilters.status.includes('INITIAL') ? 'active' : '')">
													Novo
												</button>
												<button type="button" data-value="IN_PROCESS" v-on:click="listFiltering('status', $event)" v-bind:class="'btn btn-filter ' + (listFilters.status.includes('IN_PROCESS') ? 'active' : '')">
													U izradi
												</button>
												<button type="button" data-value=IN_POST v-on:click="listFiltering('status', $event)" v-bind:class="'btn btn-filter ' + (listFilters.status.includes('IN_POST') ? 'active' : '')">
													U pošti
												</button>
												<button type="button" data-value="FULFILLED" v-on:click="listFiltering('status', $event)" v-bind:class="'btn btn-filter ' + (listFilters.status.includes('FULFILLED') ? 'active' : '')">
													Odrađeno
												</button>
												<button type="button" data-value="CANCELED" v-on:click="listFiltering('status', $event)" v-bind:class="'btn btn-filter ' + (listFilters.status.includes('CANCELED') ? 'active' : '')">
													Otkazano
												</button>
											</div>
										</div>
										
										<div class="col">
											<span class="label label-default">Placeno:</span>
											<div class="btn-group" role="group">
												<button type="button" data-value="true" v-on:click="filtering('paid', $event)" v-bind:class="'btn btn-filter ' + (filters.paid == true ? 'active' : '')">
													Da
												</button>
												<button type="button" data-value="false" v-on:click="filtering('paid', $event)" v-bind:class="'btn btn-filter ' + (filters.paid == false ? 'active' : '')">
													Ne
												</button>
											</div>
										</div>
										
										<div class="col">
											<span class="label label-default">Osobno preuzimanje:</span>
											<div class="btn-group" role="group">
												<button type="button" data-value="true" v-on:click="filtering('personalTakeover', $event)" v-bind:class="'btn btn-filter ' + (filters.personalTakeover == true ? 'active' : '')">
													Da
												</button>
												<button type="button" data-value="false" v-on:click="filtering('personalTakeover', $event)" v-bind:class="'btn btn-filter ' + (filters.personalTakeover == false ? 'active' : '')">
													Ne
												</button>
											</div>
										</div>
										
										<div class="col">
											<span class="label label-default">Tip:</span>
											<div class="btn-group" role="group">
												<button type="button" data-value="PAYMENT" v-on:click="filtering('type', $event)" v-bind:class="'btn btn-filter ' + (filters.type == 'PAYMENT' ? 'active' : '')">
													Narudzba
												</button>
												<button type="button" data-value="GIVEAWAY" v-on:click="filtering('type', $event)" v-bind:class="'btn btn-filter ' + (filters.type == 'GIVEAWAY' ? 'active' : '')">
													Giveaway
												</button>
											</div>
										</div>
										
										<div class="col-1">
											<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#inProcessDrawer">
												
												<img src="/icons/reply.svg" alt="" width="32" height="32" title="left">
											</button>
										</div>
										
									</div>
									
									<div class="row">
										<div class="col-2">
											<button type="button" class="btn btn-default" v-on:click="previousPage" v-bind:disabled="pagination.isFirst">
												
												<img src="/icons/arrow-left.svg" alt="" width="16" height="16" title="left">
											</button>
											{{ pagination.startElement }} - {{ pagination.endElement }} / {{ pagination.totalElements }}
											<button type="button" class="btn btn-default" v-on:click="nextPage" v-bind:disabled="pagination.isLast">
												
												<img src="/icons/arrow-right.svg" alt="" width="16" height="16" title="right">
											</button>
										</div>
										<div class="col-1">
											<div class="dropdown">
												<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Sortiraj
												</button>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<button class="dropdown-item" v-on:click="sort('id','ASC')">Rbr (najmanji prvo)</button>
													<button class="dropdown-item" v-on:click="sort('id','DESC')">Rbr (najveći prvo)</button>
													<button class="dropdown-item" v-on:click="sort('sendingDate','ASC')">Poslati (najranije prvo)</button>
													<button class="dropdown-item" v-on:click="sort('sendingDate','DESC')">Poslati (najkasnije prvo)</button>
												</div>
											</div>
										</div>
										
										<div class="col">
											<button type="button" class="btn btn-initial" v-on:click="changeSelectedOrdersStatus('INITIAL')">Novo</button>
											<button type="button" class="btn btn-in-process" v-on:click="changeSelectedOrdersStatus('IN_PROCESS')">Za izradu</button>
											<button type="button" class="btn btn-in-post" v-on:click="changeSelectedOrdersStatus('IN_POST')">U posti</button>
										</div>
										
										<div class="col">
											<button type="button" class="btn btn-primary" v-on:click="selectAll">Select all</button>
											<button type="button" class="btn btn-primary" v-on:click="deselectAll">Deselect all</button>
											{{ Object.keys(selectedOrders).length }}
										</div>
										
										<div class="col">
											<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#printModal">Ispis adresa</button>
											<button type="button" class="btn btn-primary" v-on:click="createPostalForm">Prijamna knjiga</button>
										</div>
									</div>
								</th>
							</tr>
							<tr>
								<th>rbr</th>
								<th>racun</th>
								<th>e-mail</th>
								<th>ponuda</th>
								<th>webshop narudzba</th>
								<th>model</th>
								<th>Napomena</th>
								<th>uplata</th>
								<th>nacin placanja</th>
								<th>naruceno</th>
								<th>poslati</th>
								<th>akcije</th>
							</tr>
						</thead>
						<tbody class="">
							<tr v-for="order in orders"
									v-bind:class="orderStatusCssClass(order) + ' clickable-row ' + (isSelected(order) ? 'highlight' : '')"
									v-on:click="selectOrder(order)">
								<td class="order-id" data-toggle="tooltip" data-placement="top" v-bind:title="orderStatusTooltip(order)" >{{ order.id }}</td>
								<td class="invoice-number">{{ order.invoiceNumber }}</td>
								<td class="contact" data-toggle="tooltip" data-placement="top" v-bind:title="orderContactTooltip(order)" >{{ order.contact }}</td>
								<td class="tender-number">{{ order.tenderNumber }}</td>
								<td class="shopify-number">{{ order.shopifyOrderNumber }}</td>
								<td>
									<span v-for="item in order.items">
										<span v-if="item.name !== 'Preporučena poštarina'">{{ item.name }}<span v-if="item.quantity > 1">(x{{ item.quantity }})</span>, </span>
									</span>
								</td>
								<td>
									<button v-if="hasNote(order)" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" v-bind:title="order.note">
									  N
									</button>
								</td>
								<td>{{ order.totalPrice }} kn</td>
								<td>
									<img v-if="order.paymentType == 'CREDIT_CARD' " src="/icons/credit-card.svg" alt="" width="32" height="32" title="left"/>
									<img v-if="order.paymentType == 'BANK_TRANSACTION' " src="/icons/document-diff.svg" alt="" width="32" height="32" title="left"/>
								</td>
								<td>{{ formatDate(order.paymentDate) }}</td>
								<td class="">{{ formatDate(order.sendingDate) }}</td>
								<td>
									<div class="dropdown">
										<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<img src="/icons/gear.svg" alt="" width="16" height="16" title="left">
										</button>
										<div class="dropdown-menu dropdown-primary" aria-labelledby="dropdownMenuButton">
											<button  type="button" class="btn btn-primary" v-on:click.stop="selectOrderForEditing(order, '#editOrderModal')">Editiraj</button>
											<button  v-if="!order.isPaid " type="button" class="btn btn-primary" v-on:click.stop="selectOrderForPayment(order, '#paymentModal')">Plaćeno</button>
											<button  type="button" class="btn btn-primary" v-on:click.stop="selectOrderForFulfillment(order, '#fulfillmentModal')">Odrađeno</button>
										</div>
									</div>
								</td>
							</tr>
							
						</tbody>
					</table>
				</div>
				<div id="shippingDrawer" class="col-2 collapse shipping-drawer">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#printModal">Ispis adresa</button>
					<button type="button" class="btn btn-primary" v-on:click="createPostalForm">Prijamna knjiga</button>
					<button type="button" class="btn btn-primary" v-on:click="ordersInPost">U pošti</button>
					<div v-for="shippingOrder in shippingOrders" class="row">
						<div class="col">
							{{ shippingOrder.shippingSnapshot }}
						</div>
						<div class="col-2">
							<button type="button" class="btn btn-primary" v-on:click="removeShippingOrder(shippingOrder)">-</button>
						</div>
					</div>
					
				</div>
				<div id="inProcessDrawer" class="col-2 collapse shipping-drawer">
					<div v-for="item in itemsOfSelectedOrders">
						<div v-if="item.name !== 'Preporučena poštarina'" class="row border">
							<div class="col-10">
								{{ item.name}}
							</div>
							<div class="col-2">
								x{{ item.quantity}}
							</div>
						</div>
					</div>
					
				</div>
				
				
				<div class="modal fade" id=paymentModal role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Plaćanje</h5>
								<button type="button" class="close" data-dismiss="modal">
									<span>&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div  class="row">
									<div class="col">
										Označi ponudu: {{ paymentOrder.tenderNumber }} kao plaćenu?
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button  type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="confirmPayment(paymentOrder)">Potvrdi</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Otkaži</button>
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal fade" id=printModal role="dialog">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Print</h5>
								<button type="button" class="close" data-dismiss="modal">
									<span>&times;</span>
								</button>
							</div>
							<div id="printContent" class="modal-body printable">
								<div  class="row">
									<div v-for="shippingOrder in selectedOrders" class="col-3 address-element border" contenteditable="true">
										<div class="row">
											{{ shippingOrder.shippingInfo.fullName }}
										</div>
										<div class="row">
											{{ shippingOrder.shippingInfo.streetAndNumber }}
										</div>
										<div class="row">
											{{ shippingOrder.shippingInfo.other }}
										</div>
										<div class="row">
											{{ shippingOrder.shippingInfo.postalCode }} {{ shippingOrder.shippingInfo.city }}
										</div>
										<div class="row" v-if="shippingOrder.shippingInfo.country != 'Croatia' ">
											{{ shippingOrder.shippingInfo.country }}
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
								<button type="button" class="btn btn-primary" v-on:click="print" >Ispisi adrese</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id=errorModal role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Greška</h5>
								<button type="button" class="close" data-dismiss="modal">
									<span>&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div  class="row">
									<div id="errorContent" class="col">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal fade" id=editOrderModal role="dialog">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Narudžba</h5>
								<button type="button" class="close" data-dismiss="modal">
									<span>&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div  class="row">
									<div class="col">
										Rbr: {{ editingOrder.id }}
									</div>
									<div class="col">
										Račun: {{ editingOrder.invoiceNumber }}
									</div>
									<div class="col">
										e-mail: {{ editingOrder.contact }}
									</div>
									<div class="col">
										Ponuda: {{ editingOrder.tenderNumber }}
									</div>
								</div>
								<div  class="row">
									<div class="col">
										Napomena:
										<textarea v-model="editingOrder.note" rows="4" cols="50"></textarea>
									</div>
								</div>
								<div  class="row">
									<div class="col-3">
										Osobno preuzimanje:
									</div>
									<div class="col">
										<input class="form-check-input" type="checkbox" v-model="editingOrder.personalTakeover">
									</div>
								</div>
								
								<div  class="row">
									<div class="col">
										<table class="table">
											<thead>
												<tr>
													<th>Model</th>
													<th>Cijena</th>
													<th>Kolicina</th>
												</tr>
											</thead>
											<tbody>
												<tr v-for="item in editingOrder.items">
													<td> {{ item.name }}</td>
													<td> {{ item.price }} </td>
													<td> {{ item.quantity }} </td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								
								
								
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="saveEditOrder">Spremi</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Otkaži</button>
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal fade" id=fulfillmentModal role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Plaćanje</h5>
								<button type="button" class="close" data-dismiss="modal">
									<span>&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div  class="row">
									<div class="col">
										Označi narudžbu: {{ fulfillment.order.id }} kao odrađenu?
									</div>
								</div>
								<div  class="row">
									<div class="col">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												 <span class="input-group-text" id="inputGroup-sizing-default">Šifra za praćenje:</span>
											</div>
											<input type="text" class="form-control" v-model="fulfillment.params.trackingNumber">
										</div>
									</div>
								</div>
								<div  class="row">
									<div class="col-3">
										Pošalji notifikaciju:
									</div>
									<div class="col">
										<input class="form-check-input" type="checkbox" v-model="fulfillment.params.sendNotification">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button  type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="fulfillOrder">Potvrdi</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Otkaži</button>
							</div>
						</div>
					</div>
				</div>
				
				
				<div id= "overlay">
					<div class="w-100 d-flex justify-content-center align-items-center">
						<div class="spinner"></div>
					</div>
				</div>
				
			</div>
				
		</div>
		
	</div>
	<div id="printSection" class="container"></div>
	
<script src="js/components/orders-table-component.js"></script>
</body>
</html>