<html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="js/http-vue.js"></script>
	
	
	
</head>
<body>
<body>
	<div class="container-fluid">
		<div id="app">
			<div id="ordersTable">
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th>racun</th>
							<th>e-mail</th>
							<th>ponuda</th>
							<th>webshop narudzba</th>
							<th>adresa</th>
							<th>model</th>
							<th>uplata</th>
							<th>nacin placanja</th>
						</tr>
					<thead>
					<tbody>
						<tr v-for="order in orders">
							<td>?</td>
							<td>{{ order.email }}</td>
							<td>?</td>
							<td>{{ order.orderNumber }}</td>
							<td><pre>{{ order.shippingAddress }}</pre></td>
							<td>
								<span v-for="item in order.itemNames">
									{{ item }},
								</span>
							</td>
							<td>{{ order.totalPrice }}</td>
							<td>{{ order.paymentGateway }}</td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
<script src="js/components/orders-table-component.js"></script>
</body>
</html>