<html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
	<script src="js/http-vue.js"></script>
	<script src="js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-clipboard2@0.3.1/dist/vue-clipboard.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/inventory.css"/>
	
	
	
</head>

<body>
	<div class="container-fluid">
		
		<div id="inventory" class="row">
			<div class="col-9">
		
				<div class="pb-2 mt-4 mb-2 border-bottom">
					<div class ="row">
						<div class ="col-4">
							PROIZVODI
						</div>
	
					</div>
				</div>
				<div class="pb-2 mt-4 mb-2 border-bottom">
					<div class ="row">
						<div class ="col-4">
							<div class="row">
								<div class="col-12">
									<div class="form-group form-inline">
										<label>Naziv</label>
										<input v-model="searchFilter.value" type="text" class="form-control" placeholder="search"/>
									</div>
								</div>
							</div>
						</div>
						
						
						 
						<div class ="col-1 text-right">Shopify</div>
						
						<div class ="col-2 text-right"><#></div>
						
						<div class ="col-2 text-left">Kol. </div>
				
						
					</div>
					
					<div class ="row">
						<div class ="col-3">
							<button tabindex="-1" class="btn btn-primary" data-toggle="modal" data-target="#editInventoryModal" v-on:click="cleanSelected">
								Dodaj novi zapis
							</button>
						</div>
						
						
						<div class ="col-5">
							<button tabindex="-1" v-bind:class="filterConnectedClass" v-on:click="connectionFilters.connected = !connectionFilters.connected;">
								Povezani
							</button>
							<button tabindex="-1" v-bind:class="filterWebshopOnlyClass" v-on:click="connectionFilters.webshopOnly = !connectionFilters.webshopOnly;">
								Nema linkova
							</button>
							<button tabindex="-1" v-bind:class="filterMaterialsOnlyClass" v-on:click="connectionFilters.materialsOnly = !connectionFilters.materialsOnly;">
								Samo linkovi
							</button>
						</div>
						
				
						
					</div>
					
					
				</div>
			
				<div class ="row" v-for="inventoryItem in filteredInventory">
					<div class ="col-4">
						<button tabindex="-1" data-toggle="modal" data-target="#editInventoryModal"
							v-bind:class="connectedClass(inventoryItem)"
							v-bind:disabled="isSpinning(inventoryItem)" 
							v-on:click="select(inventoryItem)">
							{{ inventoryItem.item }}
						</button>
					</div>
					
					<div class ="col-1 text-right">
						{{ inventoryItem.shopifyQuantity }}
					</div>
					
					<div class="col-2">
						<div class="input-group mb-3">
							<div class="input-group-prepend">

								<button tabindex="-1" class="btn btn-inventory-item" type="button"
									v-bind:disabled="inventoryItem.adjustment.shopifyInventoryItemId == null || isSpinning(inventoryItem)" 
									v-on:click="adjustLeft(inventoryItem)">
									<
								</button>
							</div>
							<input type="numeric" class="form-control" placeholder="0"
								v-model="inventoryItem.adjustment.quantity"
								v-on:keyup.enter="adjustLeft(inventoryItem)"
								v-bind:disabled="inventoryItem.adjustment.shopifyInventoryItemId == null || isSpinning(inventoryItem)" >
							<div class="input-group-append">
								<button tabindex="-1" class="btn btn-inventory-item" type="button"
									v-bind:disabled="inventoryItem.adjustment.shopifyInventoryItemId == null || isSpinning(inventoryItem)" 
									v-on:click="adjustRight(inventoryItem)">
									>
								</button>
							</div>
						</div>

					</div>
				
					<div class ="col-2 text-left">
						<div class="input-group mb-3">
							<input type="numeric" placeholder="0"
								v-bind:class="(quantityChanged(inventoryItem) ? 'text-success ' : '') + 'form-control'"
								v-model="inventoryItem.quantity"
								v-on:keyup.enter="quickSave(inventoryItem)"
								v-bind:disabled="inventoryItem.adjustment.inventoryId == null || isSpinning(inventoryItem)">
							<div class="input-group-append">
								<button tabindex="-1" class="btn btn-inventory-item" type="button"
									v-bind:disabled="inventoryItem.adjustment.inventoryId == null || isSpinning(inventoryItem)" 
									v-on:click="quickSave(inventoryItem)">
									<img src="/icons/box-arrow-down.svg" alt="Spremi" title="left">
								</button>
							</div>
						</div>
					</div>
					
					<div class="col-1 pt-2">
						<span v-if="isSpinning(inventoryItem)"  class="spinner-border spinner-border-sm"> </span>
					</div>
					
				</div>
			</div>
	
			<div class="modal fade" id="editInventoryModal" role="dialog">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<div class="row">
								<div class = "col-3">
									Ime proizvoda:
								</div>
								<div class="col-5">
									
									
									<div v-on:focusout="clearFilterVariants">
										<input type="text" class="form-control" 
											v-bind:disabled="selectedInventoryItem.shopifyVariantId != null" 
											v-model="selectedInventoryItem.item" 
											v-on:keyup="filterVariants" 
											v-on:focus="filterVariants"
											/>
										<div v-bind:class="(variantsFilter.filtered.length > 0 ? 'show ' : '')+ 'dropdown-menu'" >
											 <button v-for="variant in variantsFilter.filtered" class="dropdown-item" type="button" v-on:click="connection(variant)">{{ variant.title }}</button>
										</div>
									</div>
									
									
								</div>
								
								<div class="col-4">
									<button v-if="selectedInventoryItem.shopifyVariantId != null" type="button" class="btn btn-danger" v-on:click="disconnect">ODSPOJI</button>
								</div>
							</div>
							
	
							
							<div class="row">
								<div class="col">
									LINKOVI:
								</div>
							</div>
							
							<div v-for="(link, index) in selectedInventoryItem.links" class="row" >
								<div class = "col-2">
									<a v-bind:href="link.link" target="_blank">LINK</a>
								</div>
								
								<div class = "col-4">
									<input type="text" v-model="link.name"/>
								</div>
								
								<div class = "col-4">
									<input type="text" v-model="link.link"/>
								</div>
								<div class="col-2">
									<button type="button" v-on:click="removeLink(index)" class="btn btn-primary">
										-
									</button>
								</div>
							</div>
							
	
							
							<div class="row">
								<div class="col">
									<button type="button" v-on:click="newLink" class="btn btn-primary">
										Novi link
									</button>
								</div>
							</div>
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="saveInventory">Spremi</button>
							<button type="button" class="btn btn-secondary" v-on:click="copyInventory">Kopija</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Otkaži</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal" v-on:click="deleteInventory(selectedInventoryItem)">Obriši</button>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="modal fade" id=errorModal role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Greška</h5>
							<button type="button" class="close" data-dismiss="modal">
								<span>&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div  class="row">
								<div id="errorContent" class="col">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
						</div>
					</div>
				</div>
			</div>
			
			<div id= "overlay">
				<div class="w-100 d-flex justify-content-center align-items-center">
					<div class="spinner"></div>
				</div>
			</div>
			
		</div>
	</div>
	
<script src="js/components/inventory-component.js"></script>
</body>
</html>