<html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/text-records.css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
	<script src="js/http-vue.js"></script>
	<script src="js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-clipboard2@0.3.1/dist/vue-clipboard.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css"/>
	
	
	
</head>

<body>
	<div class="container">
		<div id="text-records">
			<div class="pb-2 mt-4 mb-2 border-bottom">
				<button class="btn btn-primary" data-toggle="modal" data-target="#editTextRecordModal" v-on:click="cleanSelectedRecord">
					Dodaj novi zapis
				</button>
			</div>
			<div class="row">
				<div class="col">
					<div class="row">
						<div v-for="category in categories" class="col-2 card-border" >
							<button class="btn btn-card" v-on:click="loadRecordsForCategory(category)" data-toggle="modal" data-target="#categoriesModal">
								{{ category }}
							</button>
							
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="modal fade" id="categoriesModal" role="dialog">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">
								{{selectedCategory}}
								<button class="btn btn-primary" data-toggle="modal" data-target="#editCategoryModal" v-on:click="editCategory">
									Promijeni
								</button>
							</h5>
							<button type="button" class="close" data-dismiss="modal">
								<span>&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div v-for="textRecord in textRecords" class="row border">
								<div class="col-8 text-record-value">{{ textRecord.value }}</div>
								<div class="col-4">
									<button class="btn btn-primary" v-clipboard:copy="textRecord.value">Kopiraj</button>
									<button class="btn btn-primary" data-toggle="modal" data-target="#editTextRecordModal" v-on:click="selectRecord(textRecord)">
										Uredi
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="modal fade" id="editCategoryModal" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<div class="row">
								<div class="col">
									<input type="text" v-model="editingCategory.newCategory"/>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="saveCategory">Spremi</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Otkaži</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="modal fade" id="editTextRecordModal" role="dialog">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Uredi zapis</h5>
							<button type="button" class="close" data-dismiss="modal">
								<span>&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-2">Kategorija:</div> 
								<div class="col-10">
									<input type="text" list="category-list" v-model="selectedRecord.category"/>
									<datalist id="category-list">
										<option v-for="category in categories">{{ category }}</option>
									</datalist>
								</div>
							</div>
							
							<div class="row">
								<div class="col-2">Tekst:</div>
								<div class="col-10"><textarea v-model="selectedRecord.value" rows="4" class="selected-record-value"></textarea></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="saveSelectedRecord">Spremi</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Otkaži</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="modal fade" id=errorModal role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Greška</h5>
								<button type="button" class="close" data-dismiss="modal">
									<span>&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div  class="row">
									<div id="errorContent" class="col">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
							</div>
						</div>
					</div>
				</div>
			
			<div id= "overlay">
				<div class="w-100 d-flex justify-content-center align-items-center">
					<div class="spinner"></div>
				</div>
			</div>
			
		</div>
	</div>
	
<script src="js/components/text-records-component.js"></script>
</body>
</html>